/* universal styling */
* {
    box-sizing: border-box;
    
    text-align: center;
    /* margin:0; */
    padding:0; 
}

/* add body styling */
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px; 
    margin: 0 auto;   /* centers elements within the body */    
}

